<p style="color: green"><%= notice %></p>

<h1>Feedback</h1>
<i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <!-- <p>
      <%= link_to "Show this list", list, class: "btn btn-secondary" %>
    </p> -->
  <% end %>
</div>

<%= link_to "Add a new item", new_list_path, class: "btn btn-primary" %>
