<p style="color: #be76fc"><%= notice %></p>

<h1>Feedback board</h1>
<%= link_to "Add a new item", new_list_path, class: "btn btn-dark" %>
<div id="lists">
<!-- For info: To display cards as Boostrap Grid, it's necessary to loop through the items after the row is created -->
  <div class="row"><!-- Begins the row -->
    <% @lists.each do |list| %>
      <div class="col-sm-4"><!-- Need to add the column after the start of the loop to get the cards to align in columns -->

        <%= render list %>
      </div><!-- End col -->

    <% end %>
  </div><!-- End row -->
</div>
