<p style="color: #be76fc"><%= notice %></p>

<%= render @list %>

<div>
  <!-- <%= link_to "Edit item", edit_list_path(@list) %> -->
  <%= link_to "Back to all feedback", lists_path, class: "btn btn-dark" %>

  <% button_to "Delete", @list, method: :delete %>
</div>
