<div class="container-md">
    <div class="card">
        <div class="card-body">
            <h1>Having one of <em>those</em> days at work?</h1>
            <p>Sometimes you feel like you can't quite get it right.</p>
            <p>This app is meant to give you a boost.</p>
            <h2>Instructions for use</h2>
            <p>First, you'll need to sign up for an account</p>
            <p>Then, when you get that great feedback — from a colleague, or your manager — log in, and record it in the feedback board on this app.</p>
            <p>Your board will automatically save your feedback, so you can come back and check it when you need a pick-me-up.</p>
        </div>
    </div>
</div>
