<br/>
<h1>Having one of <em>those</em> days at work?</h1>
<p>Sometimes you feel like you can't quite get it right.</p>
<p>This app is meant to give you a boost if you're feeling down at work.</p>
<p><strong>When you get that great feedback — from a colleague, or your manager — record it in a feedback board on this app.</strong></p>
<p> Because you're awesome, but some days you forget it!</p>
