/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');

body {
    background-color: #141525;
    // background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    // background-size: cover;
    // background-repeat: no-repeat; 
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}
nav {
    padding: 0 20px;
    background-color: #07080f;
}
.nav-link {
    color: #ffffff;
}
.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
.card {
    background-color: #26273a;
    margin: 5% 0;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button {
    display: inline;
}
.btn.btn-dark {
    background-color: #2dbffa;
    color: #141525;
    border: none;
}
.btn.btn-dark:hover {
    background-color: #1093c7;
}
.btn.btn-outline-danger {
    background-color: #e54d42;
    color: #ffffff;
    border: none;
}
.btn.btn-outline-danger:hover {
    background-color: #942b25;
    color: #ffffff;
    border: none;
}
.btn.btn-outline-secondary {
    background-color: #2dbffa;
    color: #141525;
    border: none;
}
.btn.btn-outline-secondary:hover {
    background-color: #1093c7;
    border: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 500;
}
h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 20px;
}
p strong {
    color: #ffffff;
}
p {
    font-weight: 200;
    color: #c0bdbd;
}
// .form-control {
//     background-color: #222222;
//     border: none;
//     color: #ffffff;
// }